{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Name and City</h2>  
    <form method="POST" action="update">
      <input type="hidden" name="uid" value="{{ .Id }}" />
      <div class="form-group">
      <label class="control-label"> Name </label>
      <input class="form-control" type="text" name="name" value="{{ .Name }}"  />
      </div>
      <div class="form-group">
       <label class="control-label"> City </label><input class="form-control" type="text" name="city" value="{{ .City }}"  />
      </div>
     
      <input type="submit" value="Save user" class="btn btn-success" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}