{{ define "New" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>New Name and City</h2>  
    <form method="POST" action="insert">
      <div class="form-group">
      <label class="control-label"> Name </label>
      <input type="text" name="name" class="form-control" />
      </div>
      <div class="form-group">
      <label class="control-label"> City </label><input class="form-control" type="text" name="city" />
      </div>

      <input type="submit" value="Save user"  class="btn btn-success"/>
    </form>
  {{ template "Footer" }}
{{ end }}